PORT=<YOUR_PORT>
POSTGRES_HOST = <DATABASE_HOST>
POSTGRES_PORT =      <DAtABASE_YOUR> 
POSTGRES_USER =      <DATABASE_USER>  
POSTGRES_PASSWORD =  <DATABASE_PASSWORD>   
POSTGRES_DATABASE =  <DATABASE_NAME>   
PORT = <SERVER_PORT>    
MODE =  <SERVER_MODE>     
RUN_MIGRATIONS = <MIGRATION_DEPLOY_MODE (true\false)>
JWT_SECRET = <JWT_SECRET_STRING>
JWT_LIFE_TIME = <JWT_LIFE_TIME (10h)>